
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]


<Files composer.*>
deny from all
</Files>
<Files *.inc>
deny from all
</Files>
<Files bin/*>
deny from all
</Files>
